label{
    align-self: center;
    font-size: larger;
    font-style: italic;
    align-items: flex-start;
}

input{
    margin-top: 40px;
    border-color: rgb(219, 217, 217);
    border-radius: 8px;
    height: 40PX;
    width: 300px;
    color:grey;

}

.ingreso{
    border-radius: 12px;
    position: relative;
    z-index: 1;
    background: #FFFFFF;
    max-width: 360px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.submit{
    background-color: #92bf1f;
    font-size: large;
    border-color: grey;
    border: 5px;
}